<ion-header collapse="fade" [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title class="centered-title" color="light">
      Tu Área de Estudiante
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button color="secondary" (click)="signOut()">
        <ion-icon slot="icon-only" color="light" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="userFromPublic">
  <ion-card class="profile-card">
    <ion-card-content>
      <ion-avatar>
        <img src="../../../../assets/card-media.png" />
      </ion-avatar>

      <h1>
        <ion-text class="ion-text-center" color="tertiary"
          ><strong
            >{{ userFromPublic.nombre | titlecase }} {{
            userFromPublic.apellido_paterno | titlecase }}</strong
          ></ion-text
        >
      </h1>

      <p>
        <ion-text color="medium">{{ userFromPublic.email }}</ion-text>
      </p>
    </ion-card-content>
  </ion-card>

  <div class="ion-padding">
    <ion-list-header class="ion-list-header-small">
      <ion-label>
        <ion-text color="tertiary">Información Personal</ion-text>
      </ion-label>
    </ion-list-header>

    <ion-list lines="full">
      <ion-item color="primary" button id="open-modal">
        <ion-icon slot="start" color="medium" name="id-card-outline"></ion-icon>
        <ion-label>
          <h3>Credencial Virtual</h3>
        </ion-label>
        <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
          <ng-template>
            <ion-header>
              <ion-toolbar color="dark">
                <ion-title slot="primary">Credencial Virtual</ion-title>
                <ion-buttons slot="end">
                  <ion-button (click)="confirm()" [strong]="true"
                    >cerrar</ion-button
                  >
                </ion-buttons>
              </ion-toolbar>
            </ion-header>

            <ion-content *ngIf="userFromPublic">
              <ion-card class="profile-card">
                <ion-card-content>
                  <ion-avatar class="img2">
                    <img src="../../../../assets/card-media.png" />
                  </ion-avatar>

                  <h1>
                    <ion-text color="tertiary"
                      ><strong>
                        {{ userFromPublic.nombre | titlecase }} {{
                        userFromPublic.apellido_paterno | titlecase }} {{
                        userFromPublic.apellido_materno | titlecase }}</strong
                      ></ion-text
                    >
                  </h1>

                  <hr />

                  <h2>
                    <ion-text color="medium"
                      ><strong>
                        Email: {{ userFromPublic.email }}</strong
                      ></ion-text
                    >
                  </h2>

                  <h2 *ngIf="userFromPublic">
                    <ion-text color="medium"
                      ><strong>
                        Carrera: {{ userFromPublic.carreras.nombre_carrera }}
                      </strong></ion-text
                    >
                  </h2>
                  <h2 *ngIf="userFromPublic">
                    <ion-text color="medium"
                      ><strong>
                        R.U.T: {{ userFromPublic.rut }}
                      </strong></ion-text
                    >
                  </h2>

                  <hr />

                  <ion-button
                    class="ion-button-small"
                    color="primary"
                    (click)="updateProfilePicture()"
                  >
                    Cambiar fotografía de perfil
                  </ion-button>
                </ion-card-content>
              </ion-card>
              <ion-content class="profile-card"> </ion-content>
            </ion-content>
          </ng-template>
        </ion-modal>
      </ion-item>
      <ion-item color="primary" button>
        <ion-icon slot="start" color="medium" name="reader-outline"></ion-icon>
        <ion-label>
          <h3>Calificaciones</h3>
        </ion-label>
      </ion-item>
    </ion-list>

    <hr class="hr-medium" />

    <ion-list-header class="ion-list-header-small">
      <ion-label>
        <ion-text color="tertiary">Administración</ion-text>
      </ion-label>
    </ion-list-header>

    <ion-list class="list-custom" lines="full">
      <ion-item color="primary" detail="false" button>
        <ion-icon
          slot="start"
          color="medium"
          name="document-outline"
        ></ion-icon>
        <ion-label>
          <h3>Certificados</h3>
        </ion-label>
      </ion-item>
      <ion-item color="primary" button>
        <ion-icon slot="start" color="medium" name="repeat-outline"></ion-icon>
        <ion-label>
          <h3>Solicitud en línea</h3>
        </ion-label>
        <ion-note slot="end" color="tertiary">3</ion-note>
      </ion-item>
    </ion-list>

    <p>
      <ion-text color="medium"
        >Puedes obtener tus certificados o realizar solitudes en
        linea.</ion-text
      >
    </p>

    <hr class="hr-medium" />

    <ion-list-header class="ion-list-header-small">
      <ion-label>
        <ion-text color="tertiary">Finanzas</ion-text>
      </ion-label>
    </ion-list-header>

    <ion-list lines="full">
      <ion-item color="primary" button>
        <ion-icon slot="start" color="medium" name="wallet-outline"></ion-icon>
        <ion-label>
          <h3>Revisar pagos</h3>
        </ion-label>
      </ion-item>
      <ion-item color="primary" detail="false" button>
        <ion-icon
          slot="start"
          color="medium"
          name="chatbox-ellipses-outline"
        ></ion-icon>
        <ion-label>
          <h3>Asistencia en linea</h3>
        </ion-label>
      </ion-item>
    </ion-list>

    <hr class="hr-medium" />
  </div>
</ion-content>
