<ion-header collapse="fade" [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title class="centered-title" color="light">
      Tu Área de Profesor
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button color="secondary" (click)="signOut()">
        <ion-icon slot="icon-only" color="light" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-padding">
    <!-- Skeletons -->
    <ng-container *ngIf="!content_loaded">
      <ion-list-header class="ion-list-header-small">
        <ion-label
          ><ion-skeleton-text animated style="width: 50%"></ion-skeleton-text
        ></ion-label>
        <ion-note color="tertiary" class="ion-note-small">
          <ion-skeleton-text animated style="width: 40px"></ion-skeleton-text>
        </ion-note>
      </ion-list-header>

      <ion-list
        class="list-custom animate__animated animate__fadeIn"
        lines="full"
      >
        <ion-item
          color="primary"
          button
          detail="false"
          *ngFor="let i of [].constructor(6);"
        >
          <ion-avatar slot="start" class="ion-avatar-default-icon">
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-avatar>
          <ion-label>
            <h3>
              <ion-skeleton-text
                animated
                style="width: 50%"
              ></ion-skeleton-text>
            </h3>
            <p>
              <ion-skeleton-text
                animated
                style="width: 75%"
              ></ion-skeleton-text>
            </p>
          </ion-label>
          <ion-skeleton-text
            slot="end"
            animated
            style="width: 15%"
          ></ion-skeleton-text>
        </ion-item>
      </ion-list>
    </ng-container>
  </div>

  <ion-card
    class="profile-card list-custom animate__animated animate__fadeIn"
    *ngIf="content_loaded && userFromPublic"
  >
    <ion-card-content>
      <ion-avatar>
        <img src="../../../../assets/card-media.png" />
      </ion-avatar>

      <h1>
        <ion-text class="ion-text-center" color="tertiary"
          ><strong
            >{{ userFromPublic[0].nombre | titlecase }} {{
            userFromPublic[0].apellido_paterno | titlecase }}</strong
          ></ion-text
        >
      </h1>

      <p>
        <ion-text color="medium">{{ userFromPublic[0].email }}</ion-text>
      </p>
    </ion-card-content>
  </ion-card>

  <div
    class="ion-padding list-custom animate__animated animate__fadeIn"
    *ngIf="content_loaded && userFromPublic"
  >
    <ion-list-header class="ion-list-header-small">
      <ion-label>
        <ion-text color="tertiary">Información Personal</ion-text>
      </ion-label>
    </ion-list-header>

    <ion-list lines="full">
      <ion-item color="primary" button id="open-modal">
        <ion-icon slot="start" color="medium" name="id-card-outline"></ion-icon>
        <ion-label>
          <h3>Credencial Virtual</h3>
        </ion-label>
        <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
          <ng-template>
            <ion-header>
              <ion-toolbar color="dark">
                <ion-title slot="primary">Credencial Virtual</ion-title>
                <ion-buttons slot="end">
                  <ion-button (click)="confirm()" [strong]="true"
                    >cerrar</ion-button
                  >
                </ion-buttons>
              </ion-toolbar>
            </ion-header>

            <ion-content *ngIf="userFromPublic">
              <ion-card class="profile-card animate__animated animate__fadeIn">
                <ion-card-content>
                  <ion-avatar class="img2">
                    <img src="../../../../assets/card-media.png" />
                  </ion-avatar>

                  <h1>
                    <ion-text color="tertiary"
                      ><strong>
                        {{ userFromPublic[0].nombre | titlecase }} {{
                        userFromPublic[0].apellido_paterno | titlecase }} {{
                        userFromPublic[0].apellido_materno | titlecase
                        }}</strong
                      ></ion-text
                    >
                  </h1>

                  <hr />

                  <h2>
                    <ion-text color="medium"
                      ><strong>
                        Email: {{ userFromPublic[0].email }}</strong
                      ></ion-text
                    >
                  </h2>

                  <!--                   <h2 *ngIf="userFromPublic">
                    <ion-text color="medium"
                      ><strong>
                        Carrera: {{ userFromPublic[0].carreras[0].nombre_carrera
                        }}
                      </strong></ion-text
                    >
                  </h2> -->
                  <h2 *ngIf="userFromPublic">
                    <ion-text color="medium"
                      ><strong>
                        R.U.T: {{ userFromPublic[0].rut }}
                      </strong></ion-text
                    >
                  </h2>

                  <hr />

                  <ion-button
                    class="ion-button-small"
                    color="primary"
                    (click)="updateProfilePicture()"
                  >
                    Cambiar fotografía de perfil
                  </ion-button>
                </ion-card-content>
              </ion-card>
              <ion-content class="profile-card"> </ion-content>
            </ion-content>
          </ng-template>
        </ion-modal>
      </ion-item>
    </ion-list>

    <hr class="hr-medium" />

    <ion-list-header class="ion-list-header-small">
      <ion-label>
        <ion-text color="tertiary">Secciones</ion-text>
      </ion-label>
    </ion-list-header>
    <ion-item color="primary" button>
      <ion-icon slot="start" color="medium" name="reader-outline"></ion-icon>
      <ion-label>
        <h3>Calificar Sección</h3>
      </ion-label>
    </ion-item>

    <ion-list class="list-custom" lines="full">
      <ion-item color="primary" detail="false" button>
        <ion-icon slot="start" color="medium" name="people-outline"></ion-icon>
        <ion-label>
          <h3>Alumnos por Sección</h3>
        </ion-label>
      </ion-item>
      <ion-item color="primary" button>
        <ion-icon slot="start" color="medium" name="mail-outline"></ion-icon>
        <ion-label>
          <h3>Mensajes de AVA</h3>
        </ion-label>
        <ion-note slot="end" color="tertiary">7</ion-note>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
