<ion-header collapse="fade" [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title color="light" class="centered-title">Asistencia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="asistencia">
  <div class="ion-padding">
    <ion-list-header class="ion-list-header-small">
      <ion-label>
        <ion-text color="tertiary">Control de Asistencia</ion-text>
      </ion-label>
    </ion-list-header>

    <ion-list class="list-custom" lines="full">
      <ion-item color="primary">
        <ion-label>
          <p>Fecha de Clases</p>
        </ion-label>
        <ion-input
          readonly
          slot="end"
          class="font-size-small ion-text-right ion-no-padding-end"
          value="{{
          asistencia.clases.fecha | date: 'mediumDate'  }}"
        ></ion-input>
      </ion-item>
      <ion-item color="primary">
        <ion-label>
          <p>Horario</p>
        </ion-label>
        <ion-input
          readonly
          slot="end"
          class="font-size-small ion-text-right ion-no-padding-end"
          value="{{
            asistencia.clases.hora_inicio }} a {{ asistencia.clases.hora_termino  }}"
        ></ion-input>
      </ion-item>
      <ion-item color="primary">
        <ion-label>
          <p>Asignatura</p>
        </ion-label>
        <ion-input
          readonly
          slot="end"
          class="font-size-small ion-text-right ion-no-padding-end"
          value="{{
            asistencia.clases.secciones.asignaturas.nombre_asignatura }}"
        ></ion-input>
      </ion-item>
      <ion-item color="primary">
        <ion-label>
          <p>Sección</p>
        </ion-label>
        <ion-input
          readonly
          slot="end"
          class="font-size-small ion-text-right ion-no-padding-end"
          value="{{
            asistencia.clases.secciones.nombre_seccion }}"
        ></ion-input>
      </ion-item>
      <ion-item color="primary">
        <ion-label>
          <p>Profesor</p>
        </ion-label>
        <ion-input
          readonly
          slot="end"
          class="font-size-small ion-text-right ion-no-padding-end"
          value="{{
            asistencia.clases.secciones.profesores.nombre | titlecase }} {{
              asistencia.clases.secciones.profesores.apellido_paterno | titlecase }} {{
              asistencia.clases.secciones.profesores.apellido_materno | titlecase }}"
        ></ion-input>
      </ion-item>
    </ion-list>

    <hr class="hr-medium" />

    <ion-button class="ion-button-small" color="secondary" expand="block">
      Registrar asistencia
    </ion-button>
  </div>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="scan()" [disabled]="!isSupported">
      <ion-icon name="scan"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
