<ion-header collapse="fade" [translucent]="true">
  <ion-toolbar color="dark" class="centered-title">
    <ion-title class="light"> Clases de Hoy </ion-title>
    <ion-buttons slot="primary">
      <ion-button color="secondary" (click)="filter()">
        <ion-icon slot="icon-only" name="filter"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-padding">
    <!-- Skeletons -->
    <ng-container *ngIf="!content_loaded">
      <ion-list-header class="ion-list-header-small">
        <ion-label
          ><ion-skeleton-text animated style="width: 50%"></ion-skeleton-text
        ></ion-label>
        <ion-note color="tertiary" class="ion-note-small">
          <ion-skeleton-text animated style="width: 40px"></ion-skeleton-text>
        </ion-note>
      </ion-list-header>

      <ion-list
        class="list-custom animate__animated animate__fadeIn"
        lines="full"
      >
        <ion-item
          color="primary"
          button
          detail="false"
          *ngFor="let i of [].constructor(6);"
        >
          <ion-avatar slot="start" class="ion-avatar-default-icon">
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-avatar>
          <ion-label>
            <h3>
              <ion-skeleton-text
                animated
                style="width: 50%"
              ></ion-skeleton-text>
            </h3>
            <p>
              <ion-skeleton-text
                animated
                style="width: 75%"
              ></ion-skeleton-text>
            </p>
          </ion-label>
          <ion-skeleton-text
            slot="end"
            animated
            style="width: 15%"
          ></ion-skeleton-text>
        </ion-item>
      </ion-list>
    </ng-container>

    <ng-container *ngIf="content_loaded">
      <ion-list-header class="ion-list-header-small">
        <ion-label color="tertiary"
          >{{ getCurrentDate() | titlecase }}</ion-label
        >
      </ion-list-header>

      <ion-list
        class="list-custom animate__animated animate__fadeIn"
        lines="full"
        *ngIf="content_loaded && clasesList"
      >
        <ion-item
          color="primary"
          button
          routerLink="clase-detalles"
          detail="false"
          *ngFor="let clase of clasesList"
        >
          <ion-avatar slot="start" class="ion-avatar-default-icon heart">
            <ion-icon
              color="tertiary"
              size="large"
              name="qr-code-outline"
            ></ion-icon>
          </ion-avatar>

          <ion-label>
            <h3>{{ clase.nombre_seccion }}</h3>
            <p>
              {{ clase.fecha }} - {{ clase.hora_inicio }} a {{
              clase.hora_termino }}
            </p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ng-container>
  </div>
</ion-content>

<!-- <ion-label>
  <h3>{{ clase.nombre_seccion }}</h3>
  <p>
    {{ clase.clases[0].fecha }} - {{
    clase.clases[0].hora_inicio }} a {{
    clase.clases[0].hora_termino }}
  </p>
</ion-label> -->
