ion-content {
    --padding-top: 20%;
    --padding-start: 5%;
    --padding-end: 5%;
    --background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)),
      url("https://wallpaperaccess.com/download/classroom-200620")
        no-repeat;
  }
