<ion-header collapse="fade" [translucent]="true">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button
        color="secondary"
        text="Atrás"
        (click)="goToClasesTab()"
      ></ion-back-button>
    </ion-buttons>
    <ion-title class="centered-title"> Clase </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <!-- Skeletons -->
    <ng-container *ngIf="!content_loaded">
      <ion-list-header class="ion-list-header-small">
        <ion-label
          ><ion-skeleton-text animated style="width: 50%"></ion-skeleton-text
        ></ion-label>
        <ion-note color="tertiary" class="ion-note-small">
          <ion-skeleton-text animated style="width: 40px"></ion-skeleton-text>
        </ion-note>
      </ion-list-header>

      <ion-list
        class="list-custom animate__animated animate__fadeIn"
        lines="full"
      >
        <ion-item
          color="primary"
          button
          detail="false"
          *ngFor="let i of [].constructor(12);"
        >
          <ion-avatar slot="start" class="ion-avatar-default-icon">
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-avatar>
          <ion-label>
            <h3>
              <ion-skeleton-text
                animated
                style="width: 50%"
              ></ion-skeleton-text>
            </h3>
            <p>
              <ion-skeleton-text
                animated
                style="width: 75%"
              ></ion-skeleton-text>
            </p>
          </ion-label>
          <ion-skeleton-text
            slot="end"
            animated
            style="width: 15%"
          ></ion-skeleton-text>
        </ion-item>
      </ion-list>
    </ng-container>

    <ng-container *ngIf="content_loaded">
      <ion-list-header class="ion-list-header-small">
        <ion-label>
          <ion-text color="tertiary"></ion-text>
        </ion-label>
      </ion-list-header>

      <ion-list
        class="list-custom"
        lines="full"
        *ngIf="content_loaded && claseInfoReceived"
      >
        <ion-item color="primary">
          <ion-label>
            <p>Sección:</p>
          </ion-label>
          <ion-input
            readonly
            class="font-size-small ion-text-right ion-no-padding-end"
            value="{{ claseInfoReceived.nombre_seccion }}"
          ></ion-input>
        </ion-item>
        <ion-item color="primary">
          <ion-label>
            <p>Fecha:</p>
          </ion-label>
          <ion-input
            readonly
            class="font-size-small ion-text-right ion-no-padding-end"
            value="{{ claseInfoReceived.fecha }}"
          ></ion-input>
        </ion-item>
        <ion-item color="primary">
          <ion-label>
            <p>Horario:</p>
          </ion-label>
          <ion-input
            readonly
            class="font-size-small ion-text-right ion-no-padding-end"
            value="{{ claseInfoReceived.hora_inicio }} a {{ claseInfoReceived.hora_termino }}"
          ></ion-input>
        </ion-item>
      </ion-list>
      <ion-list-header class="ion-list-header-small">
        <ion-label>
          <ion-text color="tertiary">Acciones</ion-text>
        </ion-label>
      </ion-list-header>
      <!-- <ion-button id="open-modal-qr"> abrir modal </ion-button> -->

      <ion-item color="primary" detail="false">
        <ion-avatar slot="start" class="ion-avatar-default-icon">
          <ion-icon
            color="tertiary"
            size="large"
            name="qr-code-outline"
            class="heart"
          ></ion-icon>
        </ion-avatar>
        <ion-label>
          <p class="font-size-smallest">Genere código QR</p>
        </ion-label>

        <ion-button id="open-modal-qr" color="secondary"> Generar </ion-button>
        <!-- Modal -->
        <ion-modal
          trigger="open-modal-qr"
          (willDismiss)="onWillDismiss($event)"
        >
          <ng-template>
            <ion-header>
              <ion-toolbar color="dark">
                <ion-title slot="primary">Qr de Asistencia</ion-title>
                <ion-buttons slot="end">
                  <ion-button (click)="confirm()" [strong]="true"
                    >cerrar</ion-button
                  >
                </ion-buttons>
              </ion-toolbar>
            </ion-header>
            <hr />
            <ion-content class="ion-padding" [fullscreen]="true">
              <ion-list-header class="ion-list-header-small">
                <ion-label>
                  <ion-text color="tertiary"
                    >Escanee Qr con RegistrAPP</ion-text
                  >
                </ion-label>
              </ion-list-header>
              <ion-card
                color="--ion-color-dark"
                class="ion-no-margin ion-card-chart animate__animated animate__fadeIn"
              >
                <!-- Skeletons -->
                <ng-container *ngIf="!content_loaded">
                  <div>
                    <ion-card-title>
                      <ion-skeleton-text
                        animated
                        style="width: 60px"
                      ></ion-skeleton-text>
                    </ion-card-title>
                    <ion-card-subtitle>
                      <ion-skeleton-text
                        animated
                        style="width: 80px"
                      ></ion-skeleton-text>
                    </ion-card-subtitle>
                  </div>
                  <ion-badge color="primary" mode="ios">
                    <ion-skeleton-text
                      animated
                      style="width: 50px"
                    ></ion-skeleton-text>
                  </ion-badge>

                  <ion-skeleton-text
                    animated
                    style="
                      width: calc(100% - 40px);
                      margin: 16px auto 16px auto;
                      min-height: 140px;
                    "
                  >
                  </ion-skeleton-text>
                </ng-container>

                <!-- Chart -->
                <ng-container *ngIf="content_loaded">
                  <div class="qrcodeImage centered-text">
                    <qrcode
                      class="demoBorderRadius"
                      [qrdata]="qrdata"
                      [ariaLabel]="'Código QR de asistencia...'"
                      [colorDark]="'#000000ff'"
                      [colorLight]="'#ffffffff'"
                      [elementType]="'canvas'"
                      [errorCorrectionLevel]="'M'"
                      [imageSrc]="'../assets/logo.png'"
                      [imageHeight]="50"
                      [imageWidth]="50"
                      [margin]="4"
                      [scale]="1"
                      [title]="'Código QR de asistencia'"
                      [width]="width"
                    ></qrcode>
                  </div>
                </ng-container>
              </ion-card>
            </ion-content>
          </ng-template>
        </ion-modal>
        <!-- Modal -->
      </ion-item>

      <hr class="hr-medium" />

      <ion-list-header class="ion-list-header-small">
        <ion-label>
          <ion-text color="tertiary"
            >Alumnos en la Sección: {{ alumnosPorClase.length }}</ion-text
          >
        </ion-label>
      </ion-list-header>

      <ion-list
        class="list-custom"
        lines="full"
        *ngFor="let alumno of alumnosPorClase; let i = index"
      >
        <ion-item color="primary" detail="false" button>
          <ion-avatar slot="start" class="ion-avatar-default-icon">
            <ion-icon
              color="tertiary"
              size="large"
              name="person-circle-outline"
            ></ion-icon>
          </ion-avatar>
          <ion-label>
            <p class="font-size-smallest">
              {{ alumno.alumnos.nombre | titlecase }} {{
              alumno.alumnos.apellido_paterno | titlecase }} {{
              alumno.alumnos.apellido_materno | titlecase }}.
            </p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ng-container>
    <ng-container *ngIf="content_loaded">
      <div class="qrcodeImage centered-text">
        <qrcode
          class="demoBorderRadius"
          [qrdata]="qrdata"
          [ariaLabel]="'Código QR de asistencia...'"
          [colorDark]="'#000000ff'"
          [colorLight]="'#ffffffff'"
          [elementType]="'canvas'"
          [errorCorrectionLevel]="'M'"
          [imageSrc]="'../assets/logo.png'"
          [imageHeight]="50"
          [imageWidth]="50"
          [margin]="4"
          [scale]="1"
          [title]="'Código QR de asistencia'"
          [width]="width"
        ></qrcode>
      </div>
    </ng-container>
  </div>
</ion-content>
