<ion-header>
  <ion-toolbar color="primary">
    <ion-icon name="person-add-outline" slot="start"></ion-icon>
    <ion-title>RegistrAPP1 - Recupera Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content scrollY="false">
  <ion-card>
    <ion-card-content>
      <form (ngSubmit)="updatePassword()" [formGroup]="credentials">
        <ion-item>
          <ion-label position="stacked">Cambiar contraseña</ion-label>
          <ion-input
            type="password"
            placeholder="Ingresa tu nueva contraseña"
            formControlName="password"
          ></ion-input>
          <ion-note
            slot="error"
            *ngIf="(password.dirty || password.touched) && password.errors?.['required']"
            >Ingresa tu contraseña</ion-note
          >
          <ion-note
            slot="error"
            *ngIf="(password.dirty || password.touched) && password.errors?.['minlength']"
            >Largo minimo de 6 caracteres</ion-note
          >
        </ion-item>
        <ion-button
          type="submit"
          expand="block"
          strong="true"
          [disabled]="!credentials.valid"
          >Cambiar Contraseña</ion-button
        >
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
